.appModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  gap: 1rem;
}