.appModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.appButton {
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  background-color: lightgray;
  transition: 0.1s;
}

.appButton:hover {
  background-color: gray;
  color: white;
  transition: 0.1s;
}