:root {
  --default-background-color: #3E3E3E;
  --default-text-color: #f1f1f1;
  --gray-background-color: #565656;
  --light-background-color: #696969;
  --accent-text-color: #a5a5a5;
  --accent-background-color: #699FF0;
}

body {
  background: var(--default-background-color);
  color: var(--default-text-color);
  margin: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  margin: 10px;

  top: var(--tg-safe-area-inset-top);
  bottom: var(--tg-safe-area-inset-bottom);
  right: var(--tg-safe-area-inset-right);
  left: var(--tg-safe-area-inset-left);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 5px;
  padding: 10px;
  border: 0;
  background-color: var(--light-background-color);
  box-shadow: 0 1px 5px 0 black;
  font-size: medium;
}

input {
  background-color: var(--light-background-color);
  width: 80vw;
  color: var(--default-text-color);
  box-shadow: inset 0 0 5px 0 var(--gray-background-color);
  border-radius: 5px;
  padding: 10px;
  border: 0;
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--accent-text-color);
}