.content {
    margin: 10px;
    width: 100%;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    font-size: large;
    color: white;
    padding: 5px;
    width: 80vw;
    transition-duration: 250ms;
}

input:focus {
    transition-duration: 250ms;
    border-bottom: 1px solid #4b50b0
}

select {
    width: 100%;
    font-size: large;
}